In [3]:
students = {'Alice': 10, 'Bob': 8, 'Cathy': 5, 'Diane': 7, 'Erika': 9, 'Fred': 6, 'Gina': 4}
print(students)

{'Alice': 10, 'Bob': 8, 'Cathy': 5, 'Diane': 7, 'Erika': 9, 'Fred': 6, 'Gina': 4}

In [7]:
gpas = list(students.values())
print('Max GPA:', max(gpas))
print('Best student:', max(students, key=students.get))
print('Worst student:', min(students, key=students.get))

Max GPA: 10
Best student: Alice
Worst student: Gina

In [8]:
print('Mean GAP:', sum(gpas) / len(gpas)) # np.mean(gpas)

Mean GAP: 7.0

In [9]:
# For loop: for item in sequence
# Print triangle of asterisks with n entered by user
n = int(input('Enter a number: '))
for i in range(n):
    for j in range(i+1):
        print('* ', end='')
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
for i in range(n):
    print('* ' * (i+1))

*
* *
* * *
* * * *
* * * * *

In [11]:
for i in range(n):
    print('* ' * (n-i))

* * * * *
* * * *
* * *
* *
*

In [17]:
for i in range(n):
    print('  ' * (n-i-1), '* ' * (i+1))

         *
       * *
     * * *
   * * * *
 * * * * *

In [20]:
# Loop through array
import numpy as np
numbers = np.random.randint(0, 100, 20)
print(numbers)
s = 0
for n in numbers:
    if n % 2 == 0:
        s += n
print('Sum of even numbers:', s)

[76  8 54 52 53 30 30 42 56 63 65 67 56 78  6 43 49 89 32 42]
Sum of even numbers: 562

In [21]:
print('Sum of even numbers:', sum(numbers[numbers % 2 == 0]))

Sum of even numbers: 562

In [23]:
# Loop through a string
msg = input('Enter a message: ')
print(msg)
# count the number of vowels in the message
nvowels = 0
for c in msg:
    if c in 'aeiou':
        nvowels += 1
print('Number of vowels:', nvowels)

Hello Python World
Number of vowels: 4

In [24]:
# Loop through dictionary
print(students)

{'Alice': 10, 'Bob': 8, 'Cathy': 5, 'Diane': 7, 'Erika': 9, 'Fred': 6, 'Gina': 4}

In [25]:
# Find students with GPA > 5
for name, gpa in students.items():
    if gpa > 5:
        print(name, gpa)

Alice 10
Bob 8
Diane 7
Erika 9
Fred 6

In [26]:
maxgpa = 0
for name, gpa in students.items():
    if gpa > maxgpa:
        maxgpa = gpa
        beststudent = name
print('Best student:', beststudent, maxgpa)

Best student: Alice 10

In [27]:
names = list(students.keys())
# 1
for i in range(len(names)):
    print(i+1, names[i])

1 Alice
2 Bob
3 Cathy
4 Diane
5 Erika
6 Fred
7 Gina

In [28]:
for i, name in enumerate(names):
    print(i+1, name)

1 Alice
2 Bob
3 Cathy
4 Diane
5 Erika
6 Fred
7 Gina

In [40]:
import random as rd
numbers = rd.sample(range(1, 100), 20)
print(numbers)

[61, 46, 4, 85, 23, 62, 39, 82, 81, 3, 54, 45, 44, 86, 27, 97, 73, 36, 35, 49]

In [30]:
s = 0
for n in numbers:
    if n % 2 == 0:
        s += n
print('Sum of even numbers:', s)

Sum of even numbers: 202

In [32]:
evens = [n for n in numbers if n % 2 == 0]
print('Even numbers:', evens)
print('Sum of even numbers:', sum(evens))

Even numbers: [18, 62, 14, 60, 38, 10]
Sum of even numbers: 202

In [33]:
print('Sum of odd numbers:', sum([n for n in numbers if n % 2 == 1]))

Sum of odd numbers: 496

In [35]:
names = ['John Lennon', 'Paul McCartney', 'George Harrison', 'Ringo Starr', 'Mick Jagger', 'Keith Richards']
# find longest name
longest_name = max(names, key=len)
print(longest_name, len(longest_name))

George Harrison 15

In [36]:
lenghs = [len(name) for name in names]
print(max(lenghs))

15

In [38]:
# Find names that has character 'a'
anames = [n for n in names if 'a' in n]
# Find last digits of numbers
last_digits = [n % 10 for n in numbers]
print(anames)
print(last_digits)

['Paul McCartney', 'George Harrison', 'Ringo Starr', 'Mick Jagger', 'Keith Richards']
[1, 5, 8, 2, 5, 3, 1, 9, 4, 1, 9, 0, 8, 1, 0, 3, 9, 7, 7, 5]

In [42]:
print(numbers)
print([n//10 for n in numbers if n >= 10])

[61, 46, 4, 85, 23, 62, 39, 82, 81, 3, 54, 45, 44, 86, 27, 97, 73, 36, 35, 49]
[6, 4, 8, 2, 6, 3, 8, 8, 5, 4, 4, 8, 2, 9, 7, 3, 3, 4]

In [43]:
numbers = rd.sample(range(-100, 100), 20)
print(numbers)

[-50, 48, -31, 59, 99, 52, 67, 76, -40, 11, 13, -49, -83, -20, -96, -56, -89, 1, 70, 66]

In [44]:
positives = [n if n>0 else -n for n in numbers]
print(positives)

[50, 48, 31, 59, 99, 52, 67, 76, 40, 11, 13, 49, 83, 20, 96, 56, 89, 1, 70, 66]

In [45]:
names = ['John Lennon', 'Paul McCartney', '', 'Ringo Starr', '', 'Keith Richards']
# change empty names to 'John Doe'
fix_names = [n if n != '' else 'John Doe' for n in names]
print(fix_names)

['John Lennon', 'Paul McCartney', 'John Doe', 'Ringo Starr', 'John Doe', 'Keith Richards']