In [2]:
import random as rd
numbers = [rd.randint(1, 100) for i in range(20)]
print(numbers)

[2, 65, 27, 32, 64, 82, 29, 29, 97, 9, 29, 51, 41, 86, 65, 12, 19, 74, 54, 23]

In [3]:
a = [n for n in numbers if n > 50]
print(a)

[65, 64, 82, 97, 51, 86, 65, 74, 54]

In [4]:
m = sum(numbers) / len(numbers)
b = [n for n in numbers if n > m]
print(b)

[65, 64, 82, 97, 51, 86, 65, 74, 54]

In [5]:
d = [n for n in numbers if n % 2 == 0] + [n for n in numbers if n % 2 != 0]
print(d)

[2, 32, 64, 82, 86, 12, 74, 54, 65, 27, 29, 29, 97, 9, 29, 51, 41, 65, 19, 23]

In [6]:
print(numbers[::2])

[2, 27, 64, 29, 97, 29, 41, 65, 19, 54]

In [8]:
print([numbers[i] for i in range(0, len(numbers), 2)])

[2, 27, 64, 29, 97, 29, 41, 65, 19, 54]

In [9]:
print([numbers[i] for i in range(1, len(numbers), 2)])

[65, 32, 82, 29, 9, 51, 86, 12, 74, 23]

In [10]:
students = {'Alice': 10, 'Bob': 8, 'Cathy': 5, 'Diane': 7, 
            'Erika': 9, 'Fred': 6, 'Gina': 6, 'Hannah': 10, 'Mike': 8, 'Lynda': 5}

In [13]:
print('Distinction students: ')
n_distinctions = 0
for name, gpa in students.items():
    if gpa > 8.0:
        n_distinctions += 1
        print(name, gpa)

Distinction students:
Alice 10
Erika 9
Hannah 10

In [15]:
print('Distinction students:')
distinctions = [(name, gpa) for name, gpa in students.items() if gpa > 8.0]
print(distinctions)

Distinction students:
[('Alice', 10), ('Erika', 9), ('Hannah', 10)]

In [16]:
print('Merit students:')
merits = [(name, gpa) for name, gpa in students.items() if 6.0 < gpa <= 8.0]
print(merits)

Merit students:
[('Diane', 7)]

In [17]:
passeds = [(name, gpa) for name, gpa in students.items() if  4.0 < gpa <= 6.0]
faileds = [(name, gpa) for name, gpa in students.items() if gpa < 4.0]

In [20]:
pass_rate = (len(passeds) + len(merits) + len(distinctions)) / len(students) * 100
print(pass_rate)

80.0

In [21]:
print('Success' if pass_rate >= 70 else 'Fail')

Success

In [22]:
def welcome(name):
    print('Welcome', name)

In [23]:
name = input('Enter your name: ')
welcome(name)

Welcome John

In [26]:
welcome(['John', 'Mary', 'Bob'])

Welcome ['John', 'Mary', 'Bob']

In [28]:
def my_min(a, b):
    return a if a < b else b

In [31]:
print(my_min(4, 0))
print(my_min(4.6, 7.4))
print(my_min('John', 'Mary'))

0
4.6
John

In [36]:
a = 4
b = 'Hello'
print(my_min(a, b))

TypeError: '<' not supported between instances of 'int' and 'str'

In [39]:
# passing parameters to a function
def test_parameters(number, st, li):
    number *= 2
    st = 'Hello ' + st
    li[0] = 'Hello'
    print(number, st, li, sep='\n')

In [41]:
n = 5
s = 'John'
l = [1, 2, 3]
test_parameters(n, s, l)
print('=================')
print(n, s, l, sep='\n')

10
Hello John
['Hello', 2, 3]
=================
5
John
['Hello', 2, 3]